#octopus {
  position: absolute;
  display: block;
  z-index: -1;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
}

#hat {
  display: block;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

#glasses {
  position: absolute;
  display: block;
  z-index: 2;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 180px;
}
